@model BarApp.Models.Establishments

@{
    ViewBag.Title = "Establishment";
}
<div class ="hero-unit">
<h2>This is what @Model.name has for sale:</h2>

<div class="establish">
    <h3><em>@Model.name</em></h3>

    <ul id="drink-list">
        @foreach (var drink in Model.drinks)
        {
            <li>
                <a href="@Url.Action("Details", new { id = drink.DrinksId })">
                    <img alt="@drink.name" src="@drink.image" />
                    <span>@drink.name</span>
                </a>
            </li>    
        }
    </ul>
</div>
</div>
